flows.json
[
    {
        "id": "2164f90cc5715898",
        "type": "debug",
        "z": "d8573333aa21c865",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "b36f5cd951bed0aa",
        "type": "function",
        "z": "d8573333aa21c865",
        "name": "",
        "func": "global.set(\"flagstart\",0);\nmsg.payload = Buffer.from(\"\\x57\\x01\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "fa9b3ac8f8ac542b",
                "2a43485e69280acc"
            ]
        ]
    },
    {
        "id": "ea51299f731e8a5b",
        "type": "switch",
        "z": "d8573333aa21c865",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disconnected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "a7cc20d75c6d3ae5"
            ],
            [
                "1595c24bc3909fb1"
            ]
        ]
    },
    {
        "id": "a7cc20d75c6d3ae5",
        "type": "change",
        "z": "d8573333aa21c865",
        "name": "Device Name",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "read",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            [
                "b36f5cd951bed0aa"
            ]
        ]
    },
    {
        "id": "fa9b3ac8f8ac542b",
        "type": "debug",
        "z": "d8573333aa21c865",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 480,
        "wires": []
    },
    {
        "id": "b69085fb15aa76ce",
        "type": "inject",
        "z": "d8573333aa21c865",
        "name": "Force inject",
        "props": [
            {
                "p": "peripheral",
                "v": "\"112233445566\"",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "63fd483f6e7d350f"
            ]
        ]
    },
    {
        "id": "c9a7375608973643",
        "type": "inject",
        "z": "d8573333aa21c865",
        "name": "Connected - bypass",
        "props": [
            {
                "p": "peripheral",
                "v": "\"112233445566\"",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "connected",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "ea51299f731e8a5b"
            ]
        ]
    },
    {
        "id": "16eb560d747cde70",
        "type": "function",
        "z": "d8573333aa21c865",
        "name": "",
        "func": "var botalive = global.get(\"botcon\");\nif (botalive!=1){\nif (msg.payload==\"on\"||\"off\")\n{\nglobal.set(\"flagstart\",1);\nmsg.payload=0;\nmsg.peripheral=\"112233445566\";\nreturn msg;\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "63fd483f6e7d350f"
            ]
        ]
    },
    {
        "id": "915d86f435a99fd1",
        "type": "function",
        "z": "d8573333aa21c865",
        "name": "",
        "func": "if(msg.topic==\"connected\")\n{\nglobal.set(\"botcon\",1);\n} else\n{\nglobal.set(\"botcon\",0);\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a3c78653fe7d2691",
        "type": "function",
        "z": "d8573333aa21c865",
        "name": "",
        "func": "var botalive = global.get(\"botcon\");\nif (botalive==1){\nif (msg.payload==\"on\"||\"off\")\n{\nmsg.payload=0;\nmsg.peripheral=\"112233445566\";\nreturn msg;\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "a7cc20d75c6d3ae5"
            ]
        ]
    },
    {
        "id": "39d53de62a09dc58",
        "type": "inject",
        "z": "d8573333aa21c865",
        "name": "Switchbot Press",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "16eb560d747cde70",
                "a3c78653fe7d2691"
            ]
        ]
    },
    {
        "id": "63fd483f6e7d350f",
        "type": "BLE device",
        "z": "d8573333aa21c865",
        "name": "",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "2164f90cc5715898",
                "ea51299f731e8a5b",
                "915d86f435a99fd1"
            ]
        ]
    },
    {
        "id": "2a43485e69280acc",
        "type": "BLE out",
        "z": "d8573333aa21c865",
        "characteristic": "cba20002224d11e69fb80002a5d5c51b",
        "name": "",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "bc6509c42f44905c",
        "type": "BLE scanner",
        "z": "d8573333aa21c865",
        "name": "",
        "services": "cba20d00224d11e69fb80002a5d5c51b",
        "servicesType": "str",
        "continuous": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "63fd483f6e7d350f",
                "c00a84330c22a407"
            ]
        ]
    },
    {
        "id": "a53be02107dad2d7",
        "type": "change",
        "z": "d8573333aa21c865",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "continuous",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "10000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "bc6509c42f44905c"
            ]
        ]
    },
    {
        "id": "ec2238f135999569",
        "type": "inject",
        "z": "d8573333aa21c865",
        "name": "Scan continuously for 10 secs",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "a53be02107dad2d7"
            ]
        ]
    },
    {
        "id": "c00a84330c22a407",
        "type": "debug",
        "z": "d8573333aa21c865",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b7ff5181eaf8501",
        "type": "change",
        "z": "d8573333aa21c865",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "continuous",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "bc6509c42f44905c"
            ]
        ]
    },
    {
        "id": "1e2c56a4998deedd",
        "type": "inject",
        "z": "d8573333aa21c865",
        "name": "Start continuous",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "0b7ff5181eaf8501"
            ]
        ]
    },
    {
        "id": "1595c24bc3909fb1",
        "type": "function",
        "z": "d8573333aa21c865",
        "name": "",
        "func": "var flagstart = global.get(\"flagstart\");\nif (flagstart==1){\nmsg.payload = \"on\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 520,
        "wires": [
            [
                "16eb560d747cde70",
                "6d4d8b6b19588391"
            ]
        ]
    },
    {
        "id": "6d4d8b6b19588391",
        "type": "debug",
        "z": "d8573333aa21c865",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 520,
        "wires": []
    }
]
